@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
 --bg-primary: #000000;
 --bg-secondary: #ffffff;
 --font-primary: #000000;
 --font-secondary: #cac3c3c8;

}

body{
  background: var(--bg-primary);
  font-family: "Poppins", serif;
}

.product-card{
   height: 500px;
   margin-top: 120px;
   display: flex; 
   margin-left: 270px;
   width: 800px;
}


.left-img-col img{
  height: 500px;
}

.right-info-col{
   background: var(--bg-secondary);
   padding: 20px;
}

.right-info-col h3{
    font-size: 32px;
    margin-bottom:15px;
}

.right-info-col h5{
  color: var(--font-secondary);
  font-size: 18px;
  margin-bottom: 20px;
}

.right-info-col p{
 padding-left: 50px;
 margin-bottom: 20px;
 font-size: 14px;
}

.right-info-col .available-colors {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.right-info-col .available-colors .black-color-container{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: black;
}

.right-info-col .available-colors .red-color-container{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: red;
}

.right-info-col .available-colors .white-color-container{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: beige;
}

.right-info-col .price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
}

.right-info-col .price h4{
    font-size: 32px;
}

.right-info-col .price .buy-btn{
    height: 40px;
    width: 150px;
    background: var(--bg-primary);
    color: var(--bg-secondary);
}
    
